
.img-h{
  width: 146px;
  height: 114px;
  object-fit: contain;
  margin-right: 65em;
}
.title-bottom{
  width: 602px;
  height: 36px;
  margin: auto;
  margin-top: 1em;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: left;
  color: #111;
}
.content-bottom{
  width: 665px;
  height: 52px;
  margin: auto;
  margin-top:2em;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #111;
}
.img-w{
  width: 158px;
  height: 158px;
  object-fit: contain;
  position: relative;
  top: -25em;
  left: 70em;
}
.img-heart{
  width: 130px;
  height: 130px;
  object-fit: contain;
  position: relative;
  top: -20em;
  left: 55em
}
.img-cute{
  width: 262px;
  height: 513px;
  object-fit: contain;
  position: relative;
  top: -15em;
  right: 35em;
}
.btn-see-more{
  width: 200px;
  height: 60px;
  border: solid 3px #020001;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  color: #222;
}
.img-right{
  width: 175px;
  height: 377px;
  object-fit: contain;
  position: relative;
  top: 30em;
  left: 45em;
}
.img-right-bot{
  width: 395px;
  height: 513px;
  object-fit: contain;
  position: relative;
  top: 40em;
  left: 25em
}
.img-h-red{
  width: 146px;
  height: 146px;
  object-fit: contain;
  position: relative;
  right: 77.5rem;
  top: 37.5em;
}
.img-main{
  width: 1251px;
  height: 823px;
  object-fit: contain;
  position: relative;
  top: -30em;
}
.img-erro{
  width: 411px;
  height: 204px;
  object-fit: contain;
  position: relative;
  top: -27.5em;
  right:27.5em;
}
@media (max-width: 991px) {
  .title-bottom{
    width:350px;
    font-size: 20px;
  }
  .content-bottom{
    width:350px;
    font-size:14px
  }
  .img-main{
    width:350px;
    height: 200px;
    top: -5em
  }
  .img-right{
    display: none;
  }
  .img-erro{
    display: none;
  }
  .img-right-bot{
    display: none;
  }
  .img-cute{
    display: none;
  }
  .img-w{
    display:none
  }
  .img-heart{
    display: none
  }
}